spring:
  application:
    name: eurekaserver
  security:
    basic:
      enable: true
    user:
      name: ms-eureka-user
      password: ms-eureka-user-password

server:
  port: 8761

eureka:
 client:
  register-with-eureka: false
  fetch-registry: false
 instance:
   hostname: localhost