spring:
  application:
    name: mscard
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin123

server:
  port: 0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    hostname: localhost
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

mq:
  queues:
    mscard_card_issuance: mscard_card_issuance